.flex{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* align-content: center;   */
  /* justify-content: space-between; */
  place-content: center;
  height: 100vh;
}

h2{
  background:#e7e7e7;
  padding: 20px;
  margin: 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}