h1, h2, h3, p, ul, li,a{
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  height: 1000px;
  color: var(--cor-11);
}

img{
  max-width: 100%;
  display: block;
  height: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container{
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}
